@using Models

<div class="fpButtonRow">
  <button @onclick="SortProducts">Sort</button>
  <button @onclick="ChangeView">View</button>
  <button @onclick="FilterProducts">Filter</button>
</div>

@code {
  [Parameter]
  public NavigationModel NavigationModel { get; set; }

  [Parameter]
  public EventCallback<NavigationModel> NavigationModelChanged { get; set; }

  async Task ChangeView()
  {
    NavigationModel.IsDetailsView = NavigationModel.IsDetailsView ? false : true;
    await NavigationModelChanged.InvokeAsync(NavigationModel);
  }

  async Task SortProducts()
  {
    NavigationModel.SortAscending = NavigationModel.SortAscending ? false : true;
    await NavigationModelChanged.InvokeAsync(NavigationModel);
  }

  async Task FilterProducts()
  {
    NavigationModel.FilterMoreExpensiveThan2 = NavigationModel.FilterMoreExpensiveThan2 ? false : true;
    await NavigationModelChanged.InvokeAsync(NavigationModel);
  }
}
