.fpButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #a50a50;
}

.fpButtonRow > button 
{
  flex:1;
}

button {
  background-color: #82be3c;
  border: 0px solid black;
  border-radius: 10px;
  padding: 4px 18px;
  margin: 5px 10px;
  max-width: 120px;
  color:white;
}

@media (min-width: 641px) {
}
