
.page {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.head {
  flex: 1;
  background-color: purple;
}

@media (min-width: 641px) 
{
  .page {
    display: flex;
    flex-direction: row;
  }

  .main {
    flex: 1;
  }

  .head {
    flex: 1;
    background-color: purple;
  }
}
