
.page {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.main *
{
  display:flex;
  justify-content:center;
}

.head {
  flex: 1;
  background-color: purple;
}

.head > *
{
  flex:1;
}

@media (min-width: 641px) 
{
  .page {
  }

  .main {
    flex: 2;
  }

  .head {
    flex: 1;
    background-color: purple;
    height:100%;
  }
}
