
.page[b-0jadue4mrb] {
  display: flex;
  flex-direction: column;
}

.main[b-0jadue4mrb] {
  flex: 1;
}

.main *[b-0jadue4mrb]
{
  display:flex;
  justify-content:center;
}

.head[b-0jadue4mrb] {
  flex: 1;
  background-color: purple;
}

@media (min-width: 641px) 
{
  .page[b-0jadue4mrb] {
    display: flex;
    flex-direction: row;
  }

  .main[b-0jadue4mrb] {
    flex: 1;
  }

  .head[b-0jadue4mrb] {
    flex: 1;
    background-color: purple;
  }
}
