.fpNavbar[b-jf7j812vxq] {
}

.fpNavbar > p[b-jf7j812vxq]
{
  margin: 5px 10px;
  color:white;
  text-align:center;
}

@media (min-width: 641px) {
  .fpNavbar > p[b-jf7j812vxq] {
    text-align: left;
  }
}
