/* /Pages/ButtonRow.razor.rz.scp.css */
.fpButtonRow[b-nr0efsshwq]
{
  display:flex;
  flex-direction:row;
  justify-content:center;
  background-color:purple;
}

.fpButtonRow > button[b-nr0efsshwq] 
{
  flex:1;
}

button[b-nr0efsshwq]
{
  background-color:greenyellow;
  border:0px solid black;
  border-radius:10px;
  padding: 4px 18px;
  margin:5px 10px;
  max-width:120px;
}

@media (min-width: 641px) {
  .fpButtonRow[b-nr0efsshwq] {
    justify-content: flex-start;
  }
}
/* /Shared/MainLayout.razor.rz.scp.css */

.page[b-0jadue4mrb] {
  display: flex;
  flex-direction: column;
}

.main[b-0jadue4mrb] {
  flex: 1;
}

.main *[b-0jadue4mrb]
{
  display:flex;
  justify-content:center;
}

.head[b-0jadue4mrb] {
  flex: 1;
  background-color: purple;
}

.head > *[b-0jadue4mrb]
{
  flex:1;
}

@media (min-width: 641px) 
{
  .page[b-0jadue4mrb] {
  }

  .main[b-0jadue4mrb] {
    flex: 2;
  }

  .head[b-0jadue4mrb] {
    flex: 1;
    background-color: purple;
    height:100%;
  }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.fpNavbar[b-jf7j812vxq] {
}

.fpNavbar > p[b-jf7j812vxq]
{
  margin: 5px 10px;
  color:white;
  text-align:center;
}

@media (min-width: 641px) {
  .fpNavbar > p[b-jf7j812vxq] {
    text-align: left;
  }
}
